-	* {
-	    text-decoration: none;
-	    margin: 0px;
-	    padding: 0px;
-	    background-color: cornsilk;
-	}
-	
-	body {
-	    margin: 0px;
-	    padding: 0px;
-	    font-family: 'Open Sans',sans-serif;
-	}
-	
-	.wrapper {
-	    width: 1100px;
-	    margin: auto;
-	    position: relative;
-	}
-	
-	.logo a {
-	    font-size: 50px;
-	    font-weight: 800;
-	    float: left;
-	    font-family: cursive ;
-	    color: darkblue;
-	}
-	
-	.menu {
-	    float: right;
-	}
-	
-	nav {
-	    width: 100%;
-	    margin: auto;
-	    display: flex;
-	    line-height: 80px;
-	    position: sticky;
-	    position: -webkit-sticky; 
-	    top: 0;
-	    background : moccasin;
-	    z-index: 1;
-	    border-bottom:1px solid #364f6b;
-	}
-	
-	nav ul {
-	    list-style-type: none;
-	    margin: 0;
-	    padding: 0;
-	    overflow: hidden;
-	}
-	
-	nav ul li {
-	    float: left;
-	    font-family: 'Arial Narrow';
-	}
-	
-	nav ul li a {
-	    color: black;
-	    font-weight: bold;
-	    text-align: center;
-	    padding: 0px 16px 0px 16px;
-	    text-decoration: none;
-	}
-	
-	nav ul li a:hover {
-	    text-decoration: underline;
-	}
-	
-	section {
-	    margin: auto;
-	    display: flex;
-	    margin-bottom: 50px;
-	}
-	
-	.kolom {
-	    margin-top: 50px;
-	    margin-bottom: 50px;
-	}
-	
-	.kolom .deskripsi {
-	    font-size: 20px;
-	    font-weight: bold;
-	    font-family: 'comic sans ms';
-	    color: #364f6b;
-	}
-	
-	p {
-	    font-family: 'comic sans ms';
-	    font-weight: 800;
-	    font-size: 15px;
-	    margin-bottom: 20px;
-	    color: navy;
-	    width: 100%;
-	    line-height: 50px;
-	    margin: 10px 0px 10px 0px;
-	    padding: 10px 0px 10px 0px;
-	}
-	
-	.tengah {
-	    text-align: center;
-	    width: 100%;
-	}
-	
-	.other-list {
-	    width: 100%;
-	    position: relative;
-	    display: flex;
-	    flex-wrap: wrap;
-	}
-	
-	.other-tutor {
-	    width: 20%;
-	    margin: 0 auto;
-	}
-	
-	.other-tutor img {
-	    width: 70%;
-	    border-radius: 20%;
-	}
-	
-	.other-tutor p {
-	    font-family: 'comic sans ms';
-	    font-weight: 600;
-	    font-size: 25px;
-	    text-align: center;
-	    color: #364f6b;
-	}
-	
-	#contact {
-	    background: #dedede;
-	    padding:50px 0px 50px 0px;
-	}
-	
-	.footer {
-	    width: 100%;
-	    position: relative;
-	    display: flex;
-	    flex-wrap: wrap;
-	    margin: auto;
-	}
-	
-	.footer-section {
-	    width: 20%;
-	    margin: 0 auto;
-	}
-	
-	h3 {
-	    font-family: 'comic sans ms';
-	    font-weight: 800;
-	    font-size: 30px;
-	    margin-bottom: 20px;
-	    color: #364f6b;
-	    width: 100%;
-	    line-height: 50px;
-	}
-	
-	#copyright {
-	    text-align: center;
-	    width: 100%;
-	    padding: 50px 0px 50px 0px;
-	    margin-top: 50px;
-	    background-color: #333;
-	    font-family: arial;
-	    font-weight: bold;
-	    color: white;
-	}
-	
-	@media screen and (max-width: 991.98px) {
-	    .wrapper {
-	        width: 90%;
-	    }
-	
-	    .logo a {
-	        display: block;
-	        width: 100%;
-	        text-align: center;
-	    }
-	
-	    nav .menu {
-	        width: 100%;
-	        margin: 0;
-	    }
-	
-	    nav .menu ul {
-	        text-align: center;
-	        margin: auto;
-	        line-height: 60px;
-	    }
-	
-	    nav .menu ul li {
-	        display: inline-block;
-	        float: none;
-	    }
-	
-	    section {
-	        display: block;
-	    }
-	
-	    section img {
-	        display: block;
-	        width: 100%;
-	        height: auto;
-	    }
-	
-	    .portofolio-tutor {
-	        width: 50%;
-	    }
-	
-	}
